@import url('https://fonts.googleapis.com/css?family=Inter');

.navbar {
    position: fixed;
    width: 10%;
    height: 100%;
    border-right: 1px solid white;
}

.navbar-list {
    list-style-type: none;
    margin: 15% 1% 1%;
    padding: 0;
}

.navbar-list > li{
    font-family: "Inter";
    padding: 20px;
    color: white;
}

.navbar-list > li > a {
    text-decoration: none;
    color: inherit;
}

.navbar-list > .active {
    color: #1F75DA;
}

#sign-out {
    position: absolute;
    bottom: 5px;
}